# Imports

In [1]:
import pandas as pd
import numpy as np

In [2]:
# read data
enroll = pd.read_csv('18_19_enrollment.csv')
enroll.head()

   student_id school_name  grade_level_2019
0       13898    School G                 1
1       27795    School G                 1
2       22938    School E                 1
3       22431    School F                 1
4       18048    School E                 1

In [3]:
enroll.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2788 entries, 0 to 2787
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   student_id        2788 non-null   int64
 1   school_name       2788 non-null   object
 2   grade_level_2019  2788 non-null   int64
dtypes: int64(2), object(1)
memory usage: 65.5+ KB

In [4]:
#
map_scores = pd.read_csv('MAP_scores.csv')
map_scores.head()

,student_id,year,map_term,subject,rit_score,percentile,quartile,typical_fall_to_spring_growth
0,13898,2019,Fall,Reading,161,59,3,18
1,27795,2019,Fall,Reading,158,50,3,19
2,22938,2019,Fall,Reading,162,62,3,18
3,22431,2019,Fall,Reading,162,62,3,18
4,18048,2019,Fall,Reading,166,73,3,17

In [5]:
map_scores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11118 entries, 0 to 11117
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   student_id                     11118 non-null  int64
 1   year                           11118 non-null  int64
 2   map_term                       11118 non-null  object
 3   subject                        11118 non-null  object
 4   rit_score                      11118 non-null  object
 5   percentile                     11118 non-null  object
 6   quartile                       11118 non-null  object
 7   typical_fall_to_spring_growth  11118 non-null  object
dtypes: int64(2), object(6)
memory usage: 695.0+ KB

In [6]:
spec_prog = pd.read_csv('special_programs.csv')
spec_prog.head()

   student_id program_name
0       13898         SPED
1       27795         SPED
2       22938            .
3       22431            .
4       18048            .

In [7]:
spec_prog.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2787 entries, 0 to 2786
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   student_id    2787 non-null   int64
 1   program_name  2784 non-null   object
dtypes: int64(1), object(1)
memory usage: 43.7+ KB

In [8]:
almost_df = enroll.merge(map_scores, how='right', left_on='student_id', right_on='student_id')
almost_df.head()

,student_id,school_name,grade_level_2019,year,map_term,subject,rit_score,percentile,quartile,typical_fall_to_spring_growth
0,13898,School G,1,2019,Fall,Reading,161,59,3,18
1,27795,School G,1,2019,Fall,Reading,158,50,3,19
2,22938,School E,1,2019,Fall,Reading,162,62,3,18
3,22431,School F,1,2019,Fall,Reading,162,62,3,18
4,18048,School E,1,2019,Fall,Reading,166,73,3,17

In [9]:
df = almost_df.merge(spec_prog, how='right', left_on='student_id', right_on='student_id')

In [10]:
# check data types
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11122 entries, 0 to 11121
Data columns (total 11 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   student_id                     11122 non-null  int64
 1   school_name                    11122 non-null  object
 2   grade_level_2019               11122 non-null  int64
 3   year                           11122 non-null  int64
 4   map_term                       11122 non-null  object
 5   subject                        11122 non-null  object
 6   rit_score                      11122 non-null  object
 7   percentile                     11122 non-null  object
 8   quartile                       11122 non-null  object
 9   typical_fall_to_spring_growth  11122 non-null  object
 10  program_name                   11110 non-null  object
dtypes: int64(3), object(8)
memory usage: 1.0+ MB

In [35]:
# student_id to obj - done
# grade_level_2019 to obj - done
# year to obj - done
# (review) rit_score to int - issue converting and needs investigation - 999 cases of ('.')
# (review) percentile to int - same as rit_score
df.shape

(11122, 11)

In [12]:
df['student_id'] = df['student_id'].astype(object)
df['grade_level_2019'] = df['grade_level_2019'].astype(object)
df['year'] = df['year'].astype(object)
# df['rit_score'] = df['rit_score'].astype(int)
df['percentile'] = df['percentile'].astype(int)

df.info()

ValueError: invalid literal for int() with base 10: '.'

In [36]:
# drop nulls
df = df.dropna()
df.shapoe

(11110, 11)

In [28]:
# check for causes or insights for rit_score = '.'
df[df.rit_score == '.'].head(50)

,student_id,school_name,grade_level_2019,year,map_term,subject,rit_score,percentile,quartile,typical_fall_to_spring_growth,program_name
20,20392,School G,1,2019,Fall,Reading,.,.,.,.,SPED
21,20392,School G,1,2019,Fall,Math,.,.,.,.,SPED
63,26626,School F,1,2019,Spring,Math,.,.,.,.,SPED
144,11466,School G,1,2019,Fall,Reading,.,.,.,.,.
145,11466,School G,1,2019,Fall,Math,.,.,.,.,.
168,22276,School F,1,2019,Fall,Reading,.,.,.,.,.
169,22276,School F,1,2019,Fall,Math,.,.,.,.,.
180,27828,School F,1,2019,Fall,Reading,.,.,.,.,.
181,27828,School F,1,2019,Fall,Math,.,.,.,.,.
215,17907,School F,1,2019,Spring,Math,.,.,.,.,.
244,10451,School E,1,2019,Fall,Reading,.,.,.,.,.
245,10451,School E,1,2019,Fall,Math,.,.,.,.,.
1060,13327,School F,1,2019,Fall,Reading,.,.,.,.,.
1061,13327,School F,1,2019,Fall,Math,.,.,.,.,.
1092,16180,School G,1,2019,Fall,Reading,.,.,.,.,Tier 2
1093,16180,School G,1,2019,Fall,Math,.,.,.,.,Tier 2
1112,22305,School F,1,2019,Fall,Reading,.,.,.,.,Tier 2
1113,22305,School F,1,2019,Fall,Math,.,.,.,.,Tier 2
1132,13656,School F,1,2019,Fall,Reading,.,.,.,.,.
1133,13656,School F,1,2019,Fall,Math,.,.,.,.,.
1138,10823,School E,1,2019,Spring,Reading,.,.,.,.,.
1139,10823,School E,1,2019,Spring,Math,.,.,.,.,.
1142,19028,School E,1,2019,Spring,Reading,.,.,.,.,.
1143,19028,School E,1,2019,Spring,Math,.,.,.,.,.
1146,23424,School E,1,2019,Spring,Reading,.,.,.,.,.
1147,23424,School E,1,2019,Spring,Math,.,.,.,.,.
1150,25672,School E,1,2019,Spring,Reading,.,.,.,.,.
1151,25672,School E,1,2019,Spring,Math,.,.,.,.,.
1154,16300,School F,1,2019,Spring,Reading,.,.,.,.,.
1155,16300,School F,1,2019,Spring,Math,.,.,.,.,.
1158,19900,School F,1,2019,Spring,Reading,.,.,.,.,.
1159,19900,School F,1,2019,Spring,Math,.,.,.,.,.
1162,19624,School F,1,2019,Spring,Reading,.,.,.,.,.
1163,19624,School F,1,2019,Spring,Math,.,.,.,.,.
1166,12094,School F,1,2019,Spring,Reading,.,.,.,.,.
1167,12094,School F,1,2019,Spring,Math,.,.,.,.,.
1170,15750,School F,1,2019,Spring,Reading,.,.,.,.,.
1171,15750,School F,1,2019,Spring,Math,.,.,.,.,.
1174,25509,School F,1,2019,Spring,Reading,.,.,.,.,.
1175,25509,School F,1,2019,Spring,Math,.,.,.,.,.
1178,15289,School F,1,2019,Spring,Reading,.,.,.,.,.
1179,15289,School F,1,2019,Spring,Math,.,.,.,.,.
1182,26368,School F,1,2019,Spring,Reading,.,.,.,.,SPED
1186,11333,School F,1,2019,Spring,Reading,.,.,.,.,.
1187,11333,School F,1,2019,Spring,Math,.,.,.,.,.
1190,27808,School F,1,2019,Spring,Reading,.,.,.,.,SPED
1194,17410,School F,1,2019,Spring,Reading,.,.,.,.,.
1195,17410,School F,1,2019,Spring,Math,.,.,.,.,.
1198,29367,School F,1,2019,Spring,Reading,.,.,.,.,.
1199,29367,School F,1,2019,Spring,Math,.,.,.,.,.