# Imports

In [1]:
import pandas as pd
import numpy as np

In [5]:
# read data
enroll = pd.read_csv('18_19_enrollment.csv')
enroll.head()

   student_id school_name  grade_level_2019
0       13898    School G                 1
1       27795    School G                 1
2       22938    School E                 1
3       22431    School F                 1
4       18048    School E                 1

In [19]:
enroll.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2788 entries, 0 to 2787
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   student_id        2788 non-null   int64
 1   school_name       2788 non-null   object
 2   grade_level_2019  2788 non-null   int64
dtypes: int64(2), object(1)
memory usage: 65.5+ KB

In [11]:
#
map_scores = pd.read_csv('MAP_scores.csv')
map_scores.head()

,student_id,year,map_term,subject,rit_score,percentile,quartile,typical_fall_to_spring_growth
0,13898,2019,Fall,Reading,161,59,3,18
1,27795,2019,Fall,Reading,158,50,3,19
2,22938,2019,Fall,Reading,162,62,3,18
3,22431,2019,Fall,Reading,162,62,3,18
4,18048,2019,Fall,Reading,166,73,3,17

In [18]:
map_scores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11118 entries, 0 to 11117
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   student_id                     11118 non-null  int64
 1   year                           11118 non-null  int64
 2   map_term                       11118 non-null  object
 3   subject                        11118 non-null  object
 4   rit_score                      11118 non-null  object
 5   percentile                     11118 non-null  object
 6   quartile                       11118 non-null  object
 7   typical_fall_to_spring_growth  11118 non-null  object
dtypes: int64(2), object(6)
memory usage: 695.0+ KB

In [10]:
spec_prog = pd.read_csv('special_programs.csv')
spec_prog.head()

   student_id program_name
0       13898         SPED
1       27795         SPED
2       22938            .
3       22431            .
4       18048            .

In [17]:
spec_prog.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2787 entries, 0 to 2786
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   student_id    2787 non-null   int64
 1   program_name  2784 non-null   object
dtypes: int64(1), object(1)
memory usage: 43.7+ KB

In [22]:
almost_df = enroll.merge(map_scores, how='right', left_on='student_id', right_on='student_id')
almost_df.head()

,student_id,school_name,grade_level_2019,year,map_term,subject,rit_score,percentile,quartile,typical_fall_to_spring_growth
0,13898,School G,1,2019,Fall,Reading,161,59,3,18
1,27795,School G,1,2019,Fall,Reading,158,50,3,19
2,22938,School E,1,2019,Fall,Reading,162,62,3,18
3,22431,School F,1,2019,Fall,Reading,162,62,3,18
4,18048,School E,1,2019,Fall,Reading,166,73,3,17

In [23]:
df = almost_df.merge(spec_prog, how='right', left_on='student_id', right_on='student_id')

,student_id,school_name,grade_level_2019,year,map_term,subject,rit_score,percentile,quartile,typical_fall_to_spring_growth,program_name
0,13898,School G,1,2019,Fall,Reading,161,59,3,18,SPED
1,13898,School G,1,2019,Fall,Math,166,69,3,20,SPED
2,13898,School G,1,2019,Spring,Reading,175,43,2,.,SPED
3,13898,School G,1,2019,Spring,Math,186,65,3,.,SPED
4,27795,School G,1,2019,Fall,Reading,158,50,3,19,SPED
...,...,...,...,...,...,...,...,...,...,...,...
11117,24197,School D,8,2019,Spring,Math,226,40,2,.,.
11118,27656,School D,8,2019,Fall,Math,199,5,1,6,.
11119,27656,School D,8,2019,Spring,Math,.,.,.,.,.
11120,29777,School E,0,2019,Fall,Math,133,32,2,21,.
11121,29777,School E,0,2019,Spring,Math,.,.,.,.,.

In [24]:
# check data types
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11122 entries, 0 to 11121
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   student_id                     11122 non-null  int64
 1   school_name                    11122 non-null  object
 2   grade_level_2019               11122 non-null  int64
 3   year                           11122 non-null  int64
 4   map_term                       11122 non-null  object
 5   subject                        11122 non-null  object
 6   rit_score                      11122 non-null  object
 7   percentile                     11122 non-null  object
 8   quartile                       11122 non-null  object
 9   typical_fall_to_spring_growth  11122 non-null  object
dtypes: int64(3), object(7)
memory usage: 955.8+ KB

In [ ]:
# student_id to obj - done
# grade_level_2019 to obj - done
# year to obj - done
# rit_score to int - issue converting and needs investigation - 
# (review) percentile to int

In [35]:
df['student_id'] = df['student_id'].astype(object)
df['grade_level_2019'] = df['grade_level_2019'].astype(object)
df['year'] = df['year'].astype(object)
df['rit_score'] = df['rit_score'].astype(int)
# df['percentile'] = df['percentile'].astype(int)

ValueError: invalid literal for int() with base 10: '.'

In [36]:
df.rit_score.describe()

count     11122
unique      159
top           .
freq        999
Name: rit_score, dtype: object

In [38]:
df[df.rit_score == '.'].rit_score.value_counts()

.    999
Name: rit_score, dtype: int64